# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Node/Angular
frontend/node_modules/
frontend/dist/
