<nav class="navbar">
  <div class="navbar-inner">
    <a routerLink="/" class="brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Sensor Dashboard
    </a>

    <ul class="nav-links" *ngIf="auth.isAuthenticated(); else loggedOut">
      <li><button type="button" class="btn btn-ghost"  routerLink="/sensors" routerLinkActive="active">Sensors</button></li>
      <li><button type="button" class="btn btn-ghost" (click)="logout()">Logout</button></li>
    </ul>

    <ng-template #loggedOut>
      <ul class="nav-links">
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      </ul>
    </ng-template>
  </div>
</nav>
